footer {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 143%;
    padding-bottom: 18rem;
    padding-top: 8rem;
}

footer .top-wrap {
    margin-bottom: 5rem;
    color: #fff;
}

footer .bottom-wrap {
    color: #949494;
}

