.slider {
    padding-bottom: 9.5rem;
}

.slider .title {
    margin-bottom: 5rem;
}

.slider img {
    width: 100%;
    border-radius: 3.2rem;
}

.receipts-slider .slick-next,
.receipts-slider .slick-prev {
    bottom: -9rem!important;
    transform: translateX(-50%)!important;
    top: auto!important;
    background-image: url(../../images/slider-arrow.png)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    width: 6.5rem!important;
    height: 6.5rem!important;
}

.receipts-slider .slick-next {
    left: calc(50% + 4rem)!important;
}
.receipts-slider .slick-prev {
    left: calc(50% - 4rem)!important;
    transform: translateX(-50%) rotate(180deg)!important;
}

.receipts-slider .slick-next:before,
.receipts-slider .slick-prev:before {
    display: none!important;
} 

/* .slider
.slider
.slider
.slider
.slider
.slider
.slider */